<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
	<description>Behaviours</description>

	<!-- 
		behaviours: singletons 
		singletons are the default in Spring, so unless you see
		singleton="false" on an object defination, it's a singleton
	-->

	<object name="request-behaviours" type="System.Collections.Generic.List&lt;Inversion.Process.IProcessBehaviour&gt;">
		<constructor-arg index="0">
			<list element-type="Inversion.Process.IProcessBehaviour">

				<object type="Inversion.Process.SimpleSequenceBehaviour">
					<constructor-arg index="0" value="process-request" />
					<constructor-arg index="1" ref="life-cycle" />
				</object>

				<object type="Inversion.Web.Behaviour.BootstrapBehaviour">
					<constructor-arg index="0" value="bootstrap" />
					<constructor-arg index="1">
						<dictionary key-type="string" value-type="string">
							<entry key="area" value="default" />
							<entry key="concern" value="default" />
							<entry key="action" value="default" />
							<entry key="app-path" value="/web.harness" />
						</dictionary>
					</constructor-arg>
				</object>

				<object type="Inversion.Web.Behaviour.ParseRequestBehaviour, Inversion.Web">
					<constructor-arg index="0" value="parse-request" />
					<constructor-arg index="1" value="Inversion.Web.Harness.Site" />
				</object>

				<!--<object type="Inversion.Web.Behaviour.AuthenticateBehaviour, Inversion.Web">
					<constructor-arg index="0" value="authenticate" />
				</object>-->

				<object type="Inversion.Web.Behaviour.ViewStateBehaviour, Inversion.Web">
					<constructor-arg index="0" value="view-state" />
				</object>

				<object type="Inversion.Web.Behaviour.ProcessViewsBehaviour, Inversion.Web">
					<constructor-arg index="0" value="process-views" />
				</object>

				<object type="Inversion.Web.Behaviour.RenderBehaviour, Inversion.Web">
					<constructor-arg index="0" value="render" />
				</object>

				<!-- VIEWS -->

				<object type="Inversion.Web.Behaviour.View.RazorViewBehaviour, Inversion.Web">
					<constructor-arg name="message" value="rzr::view" />
				</object>

				<object type="Inversion.Web.Behaviour.View.XmlViewBehaviour, Inversion.Web">
					<constructor-arg name="message" value="xml::view" />
					<constructor-arg name="contentType" value="text/xml" />
				</object>

				<object type="Inversion.Web.Behaviour.View.JsonViewBehaviour, Inversion.Web">
					<constructor-arg name="message" value="json::view" />
					<constructor-arg name="contentType" value="text/json" />
				</object>

				<object type="Inversion.Web.Behaviour.View.XsltViewBehaviour, Inversion.Web">
					<constructor-arg name="message" value="xslt::view" />
					<constructor-arg name="contentType" value="text/xml" />
				</object>

				<object type="Inversion.Web.Behaviour.View.XsltViewBehaviour, Inversion.Web">
					<constructor-arg name="message" value="xsl::view" />
					<constructor-arg name="contentType" value="text/html" />
				</object>

				<!-- app -->

				<object type="Inversion.Web.Harness.HelloWorldBehaviour, Inversion.Web.Harness">
					<constructor-arg name="message" value="work" />
					<constructor-arg name="preprocess" value="true" />
					<constructor-arg name="postprocess" value="true" />
					<property name="MatchingAllParameters">
						<dictionary key-type="string" value-type="string">
							<entry key="action" value="hello" />
						</dictionary>
					</property>
				</object>

				<object type="Inversion.Process.ApplicationBehaviour, Inversion.Process">
					<constructor-arg name="name" value="work" />
					<property name="NamedLists">
						<dictionary key-type="string" value-type="System.Collections.Generic.IEnumerable&lt;string&gt;">
							<entry key="fruit">
								<list element-type="string">
									<value>apple</value>
									<value>orange</value>
									<value>peach</value>
								</list>
							</entry>
							<entry key="animal">
								<list element-type="string">
									<value>horse</value>
									<value>dog</value>
									<value>cat</value>
									<value>bird</value>
								</list>
							</entry>
						</dictionary>
					</property>
				</object>

			</list>
		</constructor-arg>
	</object>

</objects>