<?xml version="1.0" encoding="utf-8" ?>
<spring:objects
	xmlns:spring="http://www.springframework.net"
	xmlns="Inversion.Process.Behaviour"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd"
>
	<spring:description>Behaviours</spring:description>

	<spring:object name="request-behaviours" type="BehaviourList">
		<spring:constructor-arg>
			<spring:list  element-type="Inversion.Process.Behaviour.IProcessBehaviour, Inversion.Process">

				<message-sequence responds-to="process-request">
					<fire>
						<bootstrap />
						<parse-request />
						<work />
						<view-state />
						<process-views />
						<render />
					</fire>
				</message-sequence>

				<behaviour responds-to="bootstrap" type="Inversion.Web.Behaviour.BootstrapBehaviour, Inversion.Web">
					<context>
						<set 
							area="default" 
							concern="default" 
							action="default" 
							appPath="/web.harness" 
						/>
					</context>
				</behaviour>

				<behaviour responds-to="parse-request" type="Inversion.Web.Behaviour.ParseRequestBehaviour, Inversion.Web">
					<spring:constructor-arg name="appDirectory" value="Inversion.Web.Harness.Site" />
				</behaviour>
				
				<behaviour responds-to="view-state" type="Inversion.Web.Behaviour.ViewStateBehaviour, Inversion.Web" />
				
				<behaviour  responds-to="process-views" type="Inversion.Web.Behaviour.ProcessViewsBehaviour, Inversion.Web" />
				
				<behaviour responds-to="render" type="Inversion.Web.Behaviour.RenderBehaviour, Inversion.Web" />

				<!-- VIEWS -->

				<view responds-to="rzr::view" content-type="text/html" type="Inversion.Web.Behaviour.View.RazorViewBehaviour, Inversion.Web" />
				<view responds-to="xml::view" content-type="text/xml" type="Inversion.Web.Behaviour.View.XmlViewBehaviour, Inversion.Web" />
				<view responds-to="json::view" content-type="text/json" type="Inversion.Web.Behaviour.View.JsonViewBehaviour, Inversion.Web" />
				<view responds-to="xslt::view" content-type="text/xml" type="Inversion.Web.Behaviour.View.XsltViewBehaviour, Inversion.Web" />
				<view responds-to="xsl::view" content-type="text/html" type="Inversion.Web.Behaviour.View.XsltViewBehaviour, Inversion.Web" />
				<view responds-to="liquid::view" content-type="text/html" type="Inversion.DotLiquid.Behaviour.View.DotLiquidViewBehaviour, Inversion.DotLiquid" />
				<view responds-to="st::view" content-type="text/html" type="Inversion.StringTemplate.Behaviour.View.StringTemplateViewBehaviour, Inversion.StringTemplate" />

				<!-- app -->
				
				<message-trace responds-to="*">
					<event>
						<match trace="true" />
					</event>
				</message-trace>
				
				<message-sequence responds-to="work">
					<context>
						<match-any>
							<action>test1</action>
							<action>test2</action>
						</match-any>
					</context>
					<fire>					
						<work-message-one trace="true" />
						<work-message-two trace="true" />
					</fire>
				</message-sequence>

			</spring:list>
		</spring:constructor-arg>
	</spring:object>

</spring:objects>